<div class="banner" style='background-image: url(<%= image_path "banner.png" %>)'>
</div>
<div class="container m-5">
  <h1>Save any kind of movies</h1>
  <h4 class="mt-5">My lists</h2>
</div>
<div class="cards m-5">
  <% @lists.each do |list| %>
    <div class="card-category m-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://source. .com/featured?#{list.name}"%>)">
      <%= list.name %>
      <%# blank link %>
      <%= link_to "", list_path(list), class: "cards-link" %>
    </div>
  <% end %>
</div>
<%= link_to "Add", new_list_path %>
