<h1><%= @list.name %></h1>
<%= link_to "back", lists_path %>

<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>

<div>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.comment %></li>
    <%= link_to bookmark_path(bookmark), method: :delete, data:{ confirm: "Remove#{bookmark.comment?}"} do %>
    <i class="fas fa-trash"></i>
  <% end %>
    <% end %>
  </ul>
</div>
